@using opensource_manager.DB
@using opensource_manager.Models
@model opensource_manager.Models.ProjectViewModels

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.min.js"></script>
}
<h3>@ViewBag.data.Title</h3>

<div class="row row-no-padding" ng-app="opensource-manager" ng-controller="ProjectController" ng-init="init(@Json.Encode(ViewBag))">
    <div class="col-md-2" ng-repeat="card in cards">
        <div class="well well-sm" style="border-radius: 5px; background-color: white;">
            <div class="dropdown">
                {{ card.Title }}
                <button class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" type="button" style="float: right; height: 20px; line-height: 20px; text-align: center">
                    <span style="display: inline-block; vertical-align: middle; line-height: normal; font-size: 10px; color: white">...</span>
                </button>
                <div class="dropdown-menu">
                    <span style="text-align: center">List action</span>
                    <hr />
                    <ul style="list-style-type: none;">
                        <li><input class="changecolumn" type="number" id="{{ card.BoardId }}" data-column="{{ card.ColumnId }}" max="@Enumerable.Count(ViewBag.data.ResultList)" min="1"></li>
                        <li><a href="#">Add card</a></li>
                        <li><a href="#" class="deleteACard" id="{{ card.BoardId }}">Delete card</a></li>
                    </ul>
                </div>
            </div>

            <div class="form-group createCard" id="{{card.BoardId}}" style="display: none; margin-bottom: 0px; padding-bottom: 0px;">
                <input class="form-control input-sm createcard" type="text" id="{{ card.BoardId }}" style="border-radius: 2px; background-color: ghostwhite; margin-top: 10px;">
                <div style="padding-top: 10px">
                    <a href="#" class="btn btn-success btn-sm" style="font-size: 16px;">Add</a>
                    <a href="#" class="btn btn-default btn-sm undo" id="{{card.BoardId}}}}" style="font-size: 16px; padding-left: 10px">
                        <div class="glyphicon glyphicon-remove" aria-hidden="true">
                        </div>
                    </a>

                </div>
            </div>

            <a href="" class="text-muted addACard " id="{{card.BoardId}}">
                <br />
                Add a card...
            </a>

        </div>

    </div>
    <div class="col-md-2">
        <div class="well well-sm" style="border-radius: 5px; background-color: white;">
            <div class="form-group createList" style="display: none; margin-bottom: 0px; padding-bottom: 0px;">
                <input class="form-control input-sm createlist" id="@ViewBag.data.id" type="text" style="border-radius: 2px; background-color: ghostwhite; margin-top: 10px;">
                <div style="padding-top: 10px">
                    <a href="#" class="btn btn-success btn-sm save" style="font-size: 16px;" id="@ViewBag.data.id">Save</a>
                    <a href="#" class="btn btn-default btn-sm undo" id="" style="font-size: 16px; padding-left: 10px">
                        <div class="glyphicon glyphicon-remove" aria-hidden="true">
                        </div>
                    </a>
                </div>
            </div>
            <a href="" class="text-muted addAList ">Add a new list item.</a>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {

        $(".changecolumn").change(function() {

            var model = {
                FK_ProjectId: @ViewBag.data.id,
                TargetColumnId: $(this).val(),
                ColumnId: $(this).attr('data-column')
            }

            $.ajax({
                url: '/project/' + @ViewBag.data.id + '/board/changelistcolumn',
                type: "POST",
                contentType: "application/json",
                data: JSON.stringify(model),
                success: function (recData) { location.reload(); },
                error: function () { alert('A error'); }
            });

        });
        $(".undo").click(function () {
            console.log("undo");
            $(".createCard").css("display", "none");
            $(".addACard").css("display", "inherit");

        });
        $(".addACard").click(function () {
            $(".createCard" + "#" + this.id).css("display", "inherit");
            $(this).css("display", "none");
            console.log("cliiick");
        });
        $(".addAList").click(function () {
            $(".createList").css("display", "inherit");
            $(this).css("display", "none");
        });
        $(".deleteACard").click(function() {


            var model = { Id: $(this).attr('id') };
            console.log(model.Id);

            $.ajax({
                url: '/project/' + @ViewBag.data.id + '/board/delete',
                type: "POST",
                contentType: "application/json",
                data: JSON.stringify(model),
                success: function (recData) { location.reload(); },
                error: function () { alert('A error'); }
            });

        });


        $(".save").click(function () {
            var id = $(this).id;
            var title = $(".createlist").val();
            var model = {
                Id: @ViewBag.data.id,
                Title: title
            };

            $.ajax({
                url: '/project/' + id + '/board',
                type: "POST",
                contentType: "application/json",
                data: JSON.stringify(model),
                success: function (recData) { location.reload(); },
                error: function () { alert('A error'); }
            });
        });
    });
</script>
@Scripts.Render("~/bundles/opensource-manager")


