@using opensource_manager.DB
@model opensource_manager.Models.ProjectViewModels

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Board</title>
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>@ViewBag.data.Title</h4>
            <div class="row">
                @foreach (var item in ViewBag.data.ResultList)
                {
                    <div class="col-md-3">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <p contenteditable="true" class="edit-title" id="@item.BoardId">@item.Title</p>
                            </div>
                            <div class="panel-body">
                              
                            </div>
                        </div>
                    </div>
                }
                <div class="col-md-2">
                    <div class="well well-sm">
                        Add a list...
                    </div>
                </div>
            </div>
        </div>
        <button type="button" id="btn-hidden">Some data @ViewBag.data.id </button>
        <button type="button" id="btn-addlist">Click Me!</button>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</body>
</html>
